{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 130,
  "semi": false,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-organize-imports",
    "@trivago/prettier-plugin-sort-imports"
  ]
}